/* Light Theme */
:root {
    --primary-color: #ffffff;
    --secondary-color: #6c757d;
    --background-color: #f8f9fa;
    --text-color: #333;
    --text-secondary: #868894;
    --sidebar-bg: #ffffff;
    --fontRegular : 'LatoRegular', sans-serif;
    --fontThin : 'LatoThin', sans-serif;
    --fontLight : 'LatoLight', sans-serif;
    --fontBold : 'LatoBold', sans-serif;
    --fontHeavy : 'LatoHeavy', sans-serif;
    --fontSemibold: 'LatoSemiBold', sans-serif;
}

/* Dark Theme */
[data-theme="dark"] {
    --primary-color: #1e1e1e;
    --secondary-color: #333;
    --background-color: #121212;
    --text-color: #fff;
    --text-secondary: #868894;
    --sidebar-bg: #333;
}

$width: (
        xs: 100%,
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1320px
);
